
body {
    font-family: 'Raleway', sans-serif;
    background-color: #e74c3c;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: 0px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#title{
    color:white;
    font-size: 35px;
    text-align: center;
}
#gamePinText{
    text-align: center;
    color: white;
    font-size: 50px;
}
#players{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    resize: none;
}

#start{
    color: white;
    text-align: center;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cancel{
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
