
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #e74c3c;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: 0px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#question-field {
    font-size: large;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    color: white;
    font-size: 20px;
}
.question{
    width: 400px;
}
.correct{
    width: 50px;
    text-align: center;
}
#title{
    text-align: center;
}

#titlesuperior{
    color: rgb(255, 255, 255);
    text-align: center;
}

